In [6]:
'''
write a  program to convert specified days into years, weeks and days.
Take user input
Note:  
'''

num = int(input("Enter the days:"))

year = num // 365
rem_day = num % 365

week = rem_day // 52

days = rem_day % 52

print(year,':',week,':',days)

Enter the days: 366

1 : 0 : 1

In [3]:
'''
Write alp to print the given number pattern
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''

row = 5

for i in range(1, row + 1):
    for j in range(i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
'''
Write alp to calculate product of digits of a number.
Read value of n from user.
'''

num = int(input("Enter your number: "))

mul = 1

while num > 0:
    rem = num % 10
    mul = mul * rem
    num = num // 10

print("Multiplication of following digit of number is: ",mul)

Enter your number:  123

Multiplication of following digit of number is:  6

In [101]:
'''
create a list of elements like x = [45, 67, 12, 'Hello', 23.45, 'World'] and perform some operations
'''

list = [45, 67, 12, 'Hello', 23.45, 'World']
l1 = []
#only string value
for i in list:
    if type(i) == str:
        l1.append(i)
print(l1)

#new list with strings in upper case
l2 = []
for i in list:
    if type(i) == str:
        l2.append(i.upper())
print(l2)

#find the addition of integer values
add = 0
for i in list:
    if type(i) == int:
        add = add + i
print(add)

#check that the value 56 is present in it or not
56 in list

#print the list in reverse order
print(list[::-1])

#delete the string 'hello' from it
del list[3]
print(list)

#insert a new value of 36 at 5th position in list
list.insert(5,36)
print(list)

#count total number of elements in list row
print(len(list))


#extract the values from 2nd index to 5th index
list[2:5]

#append [34, 'Pune'] to this list.
list.append(34)
list.append('Pune')
print(list)

#delete the last element from list
del list[-1]
print(list)

['Hello', 'World']
['HELLO', 'WORLD']
124
['World', 23.45, 'Hello', 12, 67, 45]
[45, 67, 12, 23.45, 'World']
[45, 67, 12, 23.45, 'World', 36]
6
[45, 67, 12, 23.45, 'World', 36, 34, 'Pune']
[45, 67, 12, 23.45, 'World', 36, 34]

In [127]:
t = (23.90, 21.09, 64.89, 54.78, 62.85)

#print the data in sorted manner
print(sorted(t))

#check to see that the element 50 is present in it.
print(50 in t)

#convert this tuple in set
t
m =(t)
print(m)

[21.09, 23.9, 54.78, 62.85, 64.89]
False
(23.9, 21.09, 64.89, 54.78, 62.85)

In [153]:
'''
create a dictionary and perform operations
'''

dic = {'a':'apple', 'b':'ball', 'c':'car', 'd':'doll', 'k':'key'}

#access the data at key 'k'
print(dic['k'])

#add a new value 'z':'zebra'
dic['z'] = 'zebra' 
print(dic)

#replace the contents of 'd' as 'dog'
dic['d'] = 'dog'
print(dic)

#print all the values from this dictionary
dic.values()

#find the length of this dictionary
print(len(dic))

key
{'a': 'apple', 'b': 'ball', 'c': 'car', 'd': 'doll', 'k': 'key', 'z': 'zebra'}
{'a': 'apple', 'b': 'ball', 'c': 'car', 'd': 'dog', 'k': 'key', 'z': 'zebra'}
6

In [173]:
'''
write alp to find the second largest element in a list
'''
l = [45, 67, 12, 52, 23, 64]
l1 = sorted(l, reverse = True)
print(l1)

print(l1[1])

[67, 64, 52, 45, 23, 12]
64

In [185]:
'''
This is a list of some metallic elements.
 metals = [ 'silver','gold', ... ]
 Make a new list that is almost identical to the metals list: the new
 contains the same items, in the same order, except that it does NOT
 contain the item 'copper'
'''
metals = ["silver","gold","platinum","copper","lead","iron","aluminium"]
metals1 = []
for n in metals:
    if n != "copper":
        metals1.append(n)

print(metals1)

['silver', 'gold', 'platinum', 'lead', 'iron', 'aluminium']