In [1]:
count = 1

while count <= 5:
    print('Siddhi')
    count = count + 1

Siddhi
Siddhi
Siddhi
Siddhi
Siddhi

In [2]:
# print numbers from 5 to 15

count = 5

while count <= 15:
    print(count, end = ' ')
    count += 1
    
print('Goodbye!!!')

5 6 7 8 9 10 11 12 13 14 15 Goodbye!!!

In [3]:
print(count)

16

In [4]:
# print the addition of numbers from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1
    
print('Addition is:', add)

Addition is: 55

In [5]:
print(count)

11

In [6]:
# print the addition of all odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2
    
print('Addition is:', add)

Addition is: 100

In [7]:
# factorial => 5! => 5 * 4 * 3 * 2 * 1 = 120

num = 1

fact = 1

while num <= 5:
    fact = fact * num
    num +=1
    
print('Factorial is:', fact)

Factorial is: 120

In [8]:
num = int(input('Enter the number '))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
    
print('factorial is:', fact)

Enter the number  4

factorial is: 24

In [9]:
# else

num = int(input('Enter the number '))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1
else:
    print('Loop ended')
    
print('factorial is:', fact)

Enter the number  5

Loop ended
factorial is: 120

In [10]:
'''# infinite loop

num = 2

while num > 1:
    print(num)
    num += 1''';

In [11]:
'''while True:
    print('a')
    ''';

In [12]:
num = 12345

num % 10
a = num // 10
a % 10

4

In [13]:
# find the sum of digits in a number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15

num = int(input('Enter the number'))

add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print('addtion of digits is:', add)

Enter the number 2456

addtion of digits is: 17

FOR LOOP

In [14]:
for n in 12, 34, 45, 21:
    print(n)

12
34
45
21

In [15]:
for n in 12, 34, 45, 21, 'Adi', True:
    print(n)

12
34
45
21
Adi
True

In [16]:
for n in 12, 34, 45, 21:
    print(n/2)

6.0
17.0
22.5
10.5

In [17]:
# range function

In [18]:
list(range(5))

[0, 1, 2, 3, 4]

In [19]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [20]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
# range(start, end + 1, step)

In [22]:
for n in range(1,11):
    print(n, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [23]:
# addition of odd numbers from 1 to 20

add = 0

for n in range(1,21,2):
    add = add + n
    
print('Addition', add)

Addition 100

In [25]:
for n in range(10):
    print('Siddhi', end = ' ')

Siddhi Siddhi Siddhi Siddhi Siddhi Siddhi Siddhi Siddhi Siddhi Siddhi

In [26]:
for n in 'Siddhi':
    print(n * 3)

SSS
iii
ddd
ddd
hhh
iii

In [27]:
for n in 'Tanvi', 'Ganesh':
    print(n)

Tanvi
Ganesh

In [28]:
l = [23, 45, 32, 21, 67]

for n in l:
    print(n)
else:
    print('Loop ended')

23
45
32
21
67
Loop ended

In [29]:
# find factorial of a number... take user input

num = int(input('Enter the number '))
fact = 1

for n in range(1, num + 1):
    fact = fact * n
    
print('Factorial is:', fact)

Enter the number  5

Factorial is: 120

BREAK STATEMENT

In [30]:
for n in range(1,10):
    if n == 5:
        break
    print(n)

1
2
3
4

In [31]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

continue

In [32]:
for n in range(1,10):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9

In [33]:
# print odd numbers from 1 to 12 using continue statement

for i in range(1,13):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11

pass

In [34]:
num = 5

if num > 1:
    pass

In [35]:
'''
*
**
***
''';

In [36]:
row = int(input('Enter the number of rows '))

for i in range(1, row + 1):
    for j in range(i):
        print('*', end = ' ')
    print()

Enter the number of rows  5

*
* *
* * *
* * * *
* * * * *