In [1]:
class Employee():
    pass

In [3]:
emp1 = Employee()
emp2 = Employee()

In [5]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000023EB0D204D0>
<__main__.Employee object at 0x0000023EB0D1EC90>

In [7]:
#instance variable

In [9]:
emp1.first = 'Neeraj'
emp1.last = 'Deshmukh'
emp1.salary = 51000

emp2.first = 'Siddhi'
emp2.last = 'Salave'
emp2.salary = 55000

In [11]:
print(emp1.first)

Neeraj

In [13]:
print(emp2.salary)

55000

In [15]:
class Employee1():
    def __init__(self, first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
    def show(self):
        print(self.first + ' ' + 'ok')

In [21]:
emp1 = Employee1('Tanmay','Salave',50000)

In [23]:
print(emp1.first)

Tanmay

In [27]:
emp2 = Employee1('Kalpana','Salave',100000)

In [29]:
print(emp2.salary)

100000

In [31]:
emp1.show()

Tanmay ok

In [33]:
emp2.show()

Kalpana ok

Encapsulation

In [37]:
class Employe():
    def __init__(self, first, last , salary):
        self.first = first
        self.last = last
        self.__salary = salary         #private variable

    def show(self):
        print(self.first + ' ' + 'ok')

    def show(self):
        print(self.salary)

In [39]:
print(emp2.salary)

100000

In [41]:
emp2 = Employee1('Kalpana','Salave',100000)

In [43]:
print(emp2.salary)

100000

Inheritance

In [46]:
class Emp2(Employee1):
    pass

In [48]:
emp3 = Emp2('Sanjay','Salave',50000)

In [50]:
emp3.show()

Sanjay ok

In [54]:
'''
Create a class called person
attributes - name, age, city ....
create a method which will show all the info of a person
''';

In [56]:
class Person():
    def __init__(self, name, age = 18):
        self.name = name
        self.age = age
    def info(self):
        print('name', self.name)
        print('age', self.age)

In [58]:
per1 = Person('Kiran', 21)

In [60]:
per2 = Person('Siddhi')

In [62]:
per1.info()
per2.info()

name Kiran
age 21
name Siddhi
age 18